<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>QLT - Financial Literacy</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron">
        <div class="container text-center">
            <a href="/">
                <h1>QLT - Financial Literacy</h1>
            </a>
        </div>
    </div>

    <div class="container-fluid bg-3 text-center">
        <h3>Add a transaction</h3>
        <form action="" method="POST">
        <label>Name</label>
        <input type="text" class="form-95" name="Transactionname" required>
        <br>
        <label>Value</label>
        <input type="number" class="form-95" name="Transactionvalue" required>
        <br>
        <label>Type</label>
        <select name="Transactiontype" id="type">
            <option value="Income">Income</option>
            <option value="Expenditure">Expenditure</option>
          </select>
          <br>
          <label>Category</label>
          <select name="Transactioncategory" id="type">
            {{range .Categories}}
            <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
          </select>
          <br>
          <label>Comment</label>
          <textarea type="text" style="height:100px;" class="form-95" name="Transactioncomment" required></textarea>
          <br>  
          <button type="submit" class="btn btn-primary">Create</button>
        </div>

        </form>
</div>
<br><br>
    {{template "footer" .}}

</body>

</html>