<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>QLT - Financial Literacy</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <body>

        <div class="jumbotron">
            <div class="container text-center">
                <a href="/">
                    <h1>QLT - Financial Literacy</h1>
                </a>
            </div>
        </div>

        <div class="container">
            <h3>Browse categories</h3>
            <form action="/addacategory">
                <input type="submit" value="Create a category" />
            </form>
            <br>
            <form action="/deleteacategory">
                <input type="submit" value="Delete a category by ID" />
            </form>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{range . }}
                    <tr>
                        <th>{{.ID}}</th>
                        <th>
                            <form action="/browsebycategory/{{.ID}}">
                                <input type="submit" value="{{.Name}}" />
                            </form>
                            </th>
                        <th>
                            <form action="/updatecategory/{{.ID}}">
                                <input type="submit" value="Update" />
                            </form>
                        </th>
                        <th>
                            <form action="/deletecategory/{{.ID}}">
                                <input type="submit" value="Delete" />
                            </form>
                        </th>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div><br><br>
        {{template "footer" .}}

    </body>
</body>

</html>